/* frontend/src/App.css */
#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
  border-radius: 8px;
  padding: 2rem;
  margin-top: 80px; /* Increased padding from TopBar (64px + extra space) */
  display: flex;
  flex-grow: 1;
  margin-left: 240px; /* Width of Sidebar, assuming 240px standard for Material-UI drawer */
  min-height: calc(100vh - 80px - 4rem); /* Adjust for TopBar and padding */
}

.form-container,
.table-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 100%; /* Ensure forms and tables fit within content area */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Login */
.login-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

/* Dashboard */
.dashboard-container, .record-container, .inivte-container, .settings-container {
  padding: 2rem;
}
.analytical-boxes-grid {

}
/* Record Page */
.record-container {
  max-width: 1170px; /* Adjusted for larger screens */
  width: 100%;
  margin: auto;
}

/* Invite */
.inivte-containe, .settings-container {
  max-width: 600px; /* Adjusted for larger screens */
  width: 100%;
  margin: auto;
}